.card{
    position: absolute;
    top: 11%;
    display: flex;
    width: 100vw;
    padding: 30px;
    background: linear-gradient(to top right, rgb(49, 175, 225), rgb(186, 141, 141));
}

.card-box{
    width: 350px;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 10px;
}
