<div class="row">
  <mat-toolbar style="background:rgb(255, 69, 100);">
    <div class="col-md-2 mx-2">
      <h1 style="font-size: 24px;">
        <a routerLink="" style="color:white ; text-decoration: none;">
          E-Commerce
        </a>
      </h1>
    </div>
    <div class="col-md-6 d-flex justify-content-center" >
      <div  *ngIf="dataType==='default'" class="d-flex self-align-center">
        <input type="text" #inputBox placeholder="Search ...">
        <button class="fa fa-search" (click)=searchProducts(inputBox.value)></button>
      </div>
    </div>
    <div class="col-md-4 " [ngSwitch]="dataType">
      <ul class="d-flex" *ngSwitchCase="'default'">
        <li><a routerLink="">Home</a> </li>
        <li><a routerLink="/seller-auth">Seller</a> </li>
        <li><a routerLink="/login">Login</a> </li>
        <li><a routerLink="/card">Card</a> </li>
      </ul>
        
      <ul class="d-flex" *ngSwitchCase="'user'">
        <li><a routerLink="">Home</a> </li>
        <li><a >{{userName | uppercase}} </a> </li>
        <li><a (click)="userLogout()">Log-out</a> </li>
        <li><a routerLink="/card">Card</a> </li>
      </ul>

      <ul class="d-flex" *ngSwitchCase="'seller'">
        <li><a>{{sellerName}}  </a> </li>
        <li><a routerLink="/seller-home">Product list</a> </li>
        <li><a routerLink="/add-product"> Add </a> </li>
        <li><a (click)="logOut()">Logout</a> </li>
      </ul>
    </div>
  </mat-toolbar>
</div>