<div class="row">
    <mat-toolbar>
        <div class="col-md-2 mx-2">
         <h1>Logo</h1>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <input type="text" placeholder="Search ...">
          <button><mat-icon>search</mat-icon></button>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <div class="btn">
            <button class="mx-2" routerLink="">Home</button>
            <button class="mx-2" routerLink="/seller-auth">Seller</button>
            <button class="mx-2">Login</button>
            <button class="mx-2">Card</button>
          </div>
        </div>
    </mat-toolbar>
</div>