<p>seller-home works!</p>

<mat-card style="position: absolute;top: 15%;width: 100vw;" >
    <table class="table table-bordered">
        <thead>
            <tr   >
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th >Description</th>
                <th>Category</th>
                <th>image</th>
                <th>Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}} </td>
                <td>{{product.title}} </td>
                <td>{{product.price}} </td>
                <td>{{product.description}} </td>
                <td>{{product.category}} </td>
                <td><img src="{{product.image}}" alt="" width="120px" height="150px"></td>
                <td>{{product.count}}</td>
                <td  style="flex-direction: column;" class="my-3">
                    <button mat-mini-fab style="background:red;" (click)="Delete(product.id)" class="mx-3 my-3" class="fa fa-trash"> </button>
                    <button mat-mini-fab class="mx-3 " color="primary" routerLink="/update-product/{{product.id}}" class="fa fa-pencil"> </button>
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>
